{% extends 'layout.html' %}

{% block content %}

    <div id="hcard-Tom-Lazar" class="vcard">

      <h1 class="fn">Tom Lazar</h1>

      <img class="avatar" src="{{ get_asset('images/tomster.png') }}" alt="Tom's avatar. Cartoonish, with a tankard.">

      <p>I'm a freelance web developer based in <span class="locality">Berlin</span>, <span class="country-name">Germany</span>.</p>

      <p>I prefer working on <a href="http://en.wikipedia.org/wiki/Free_and_open-source_software">Free, Open Source Software</a>.</p>

      <p> I <em>really</em> like <a href="http://www.python.org">Python</a>, <a href="http://docs.pylonsproject.org/projects/pyramid/en/latest/">Pyramid</a>, <a href="http://angularjs.org">AngularJS</a>, <a href="http://www.freebsd.org/" title="The FreeBSD Project">FreeBSD</a> and <a href="http://www.braustuberl.de">Beer</a>.</p>

      <p>You can find (out more about) me on
        <a href="http://github.com/tomster">github</a>, 
        <a href="http://twitter.com/tomlazar">twitter</a>,
        <a href="http://www.soup.io/go/tomster">soup.io</a>, 
        <a href="https://pypi.python.org/pypi?%3Aaction=search&term=tomster&submit=search" title="">pypi</a>, 
        <a href="http://pyfidelity.com/imprint.html">pyfidelity.com</a>, 
        <a href="http://plone.org/author/tomster">plone.org</a>, 
        <a href="http://de.linkedin.com/in/tomlazar">linkedin</a>, contact me via  
        <a class="email" href="mailto:tom@tomster.org">email</a> or check out <a href="/blog">my blog</a>.
      </p>
    </div>

{% endblock %}
