body {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 106%;
    line-height: 1.15em;
    background-attachment: fixed;
    background-color: #697677;
    background-image: url(/static/background.jpg);
    color: black;
}

#main {
    background-color: white;
    margin: 0 auto;
    width: 565px;
    padding: 2em;
}

h1 { 
    font-family: Georgia;
    font-style: italic;
    text-transform: lowercase;
    font-size: 300%;
    margin: 1.67em auto 1em;
}

p {
    margin: 1em auto;
}


#footer {
    width: 80%;
    color: gray;
    font-size: 0.7em;
    font-family: Georgia;
    font-style: italic;
    margin: 4em auto;
}

em {
    font-weight: bold;
}